[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
logzero = "*"
pydantic = "*"
pydantic-yaml = "*"
requests = "*"
slack-sdk = "*"
streamlink = "*"

[dev-packages]
mypy = "*"
pytest = "*"
types-requests = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
