[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
logzero = "*"
pydantic = "*"
pydantic-yaml = "*"
pydantic-xml = "*"
requests = "*"
slack-sdk = "*"
streamlink = "*"
typer = "*"
uvicorn = {extras = ["standard"], version = "*"}

[dev-packages]
httpx = "*"
mypy = "*"
pytest = "*"
pytest-asyncio = "*"
types-requests = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.0"
